/* Base styles */
.order-container {
    padding: 20px;
    max-width: 1200px;
    margin: 30px auto;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
  }
  
  .order-container.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .order-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.788);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .order-container.dark-mode .order-card {
    background: #444;
    color: #fff;
  }
  
  .order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .order-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .order-details {
    text-align: center;
  }
  
  .order-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .order-details p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #888;
  }
  
  .discounted-price {
    color: #28a745;
    font-weight: bold;
  }
  
  .confirm-order-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .confirm-order-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .order-card {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .order-image {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .order-details {
      text-align: left;
    }
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .order-container {
    animation: fadeIn 0.5s ease-in-out;
  }